<form action="/tag/" method="post">
  <% TAGS.each do |tag| %>
    <%= tag.to_s.capitalize %>: <input type="checkbox" name="<%= tag.to_s %>">
  <% end %>
  <br>
  <button type="submit" name="id" value="<%= @document.id %>">Submit</button>
</form>
<p>Times tagged: <%= @document.times_tagged %></p>
<p>
  <%= session[:tagged_docs] %>
</p>
<%= erb :document %>
