<p><%= @document.body %></p>
<ul>
  <li>Interesting: <%= @document.interesting %></li>
  <li>Funny: <%= @document.funny %></li>
  <li>Boring: <%= @document.boring %></li>
</ul>
<iframe src="/documents/<%= @document.filename %>" width="620px" height="857px">Show this if nothing works</iframe><br>
<a href="/">Home</a>
